#Header {

    margin-top: 10vh;
    padding: 3vh 7vw;
    width: 50vw;

    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {

        font-size: 4vh;
        font-weight: 700;

    }

    img {

        height: 8vh;
        border-radius: 2vw;
        box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
        cursor: pointer;

    }

}