.Members {

    margin-top: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    

    .Member {
        background-color: #FFF;
        border-radius: 2vw;
        margin-bottom: 0.5vw;
        padding: 0.5vw;

        h1 {
            font-size: 1rem;
            margin-left: 5px;
        }

        .infos {
            margin-left: 1vw;
            display: flex;
            flex-direction: row;

            .textInfos {
                display: inline-block;
                margin-left: 1%;
                height: 15vw;
                width: auto;
            }


            .memberLogo {
                height: 15vw;
                display: inline-block;
            }
        }
    }

    @media only screen and (min-width: 768px) {

        width: 65vw;

        .Member {

            .infos {

                .textInfos {
                    height: 5vw;
                    width: auto;
                }

                .memberLogo {
                    height: 5vw;
                }
            }
        }
    }

}